<div class="sidebar">
    <div class="sidebar-brand">
        <p class="h3">Api Docs</p>
    </div>
    <ul class="sidebar-menu">
        <li class="menu-item">
            <a href="#api-intro" class="menu-link">Introduction</a>
        </li>
        <li class="menu-item">
            <a href="#api-http-methods" class="menu-link">Méthodes</a>
        </li>
        <li class="menu-item">
            <a href="#api-http-codes" class="menu-link">Codes HTTP</a>
        </li>
        <li class="menu-item">
            <a href="#api-entities" class="menu-link">Les Entités</a>
        </li>
        <li class="menu-item">
            <a href="#api-requests" class="menu-link">Les Requêtes</a>
        </li>
    </ul> 
</div>