<div class="mb-5 anchor" id="api-http-codes">
    <p class="h2 font-weight-bold text-blue">Les codes réponses http</p>
    <ul>
        <li>200 <code>OK</code>: La requête a réussie.</li>
        <li>201 <code>Created</code>: La requête a réussie et une nouvelle ressource a été créée.</li>
        <li>400 <code>Bad Request</code>: La requête a échouée et/ou elle contient une érreur.</li>
        <li>401 <code>Unauthorized</code>: L'authentification a échouée et/ou vous compte ne vous permet pas d'effectuer cette action.</li>
        <li>404 <code>Not Found</code>: La ressource demandée est introuvable.</li>
        <li>405 <code>Method Not Allowed</code>: La méthode de requête est connue du serveur mais a été désactivée et ne peut pas être utilisée.</li>
    </ul>
</div>