{% extends "base.html.twig" %}

{% block body %}

    <!-- Documentation title -->
    <h1 class="mt-3 mb-5 font-weight-bolder separator">Documentation de l'API BileMo</h1>
    
    <!-- Documentation introduction -->
    <div class="mb-5 anchor" id="api-intro">
        <p class="h4 font-weight-bold text-blue">Introduction</p>
        <small class="mb-4">Bienvenue sur la documentation technique de l'<strong>API BileMo</strong> destiné aux développeur. Cette page présente les caractéristiques techniques de l'API.</small>
    </div>

    <!-- Documentation http methods -->
    {% include "documentation/methods.html.twig" %}

    <!-- Documentation http codes -->
    {% include "documentation/codes.html.twig" %}

    <div class="mb-5 anchor" id="api-http-codes">
        <p class="h2 font-weight-bold text-blue">Accéder à l'API</p>
        <p>
            &#192; chaque requête envoyer à l'API, un jeton vous sera demandé pour vous authentifier. Pour récupérer son  jeton, il faut envoyer une requête sur l'URL <strong>/api/auth/login_check</strong>, <a href="#api-auth">cliquer ici pour consulter la section Authentification</a>. Une fois que le token, vous devez ajouter une entête <strong style="text-decoration: underline">Authorization</strong> ayant pour valeur <strong style="text-decoration: underline">Bearer jeton</strong>. <br/> 
            <span class="text-danger font-weight-bolder">Important, n'oubliez de mettre un espace entre le mot Bearer et votre jeton</span>  
        </p>
    </div>

    <!-- Documentation Entités -->
    {% include "documentation/entities.html.twig" %}

    <!-- Documentation Requêtes -->
    {% include "documentation/requests.html.twig" %}
{#  #}
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}