<div class="mb-5 anchor" id="api-http-methods">
    <p class="h2 font-weight-bold text-blue">Les méthodes acceptées</p>
    <table class="table table-sm table-hovered">
        <caption>Les methodes HTTP utilisées</caption>
        <tbody>
            <tr>
                <th scope="row">GET</th>
                <td>Pour récupérer une ressource</td>
            </tr>
            <tr>
                <th scope="row">POST</th>
                <td>Pour créer une ressource</td>
            </tr>
            <tr>
                <th scope="row">PUT</th>
                <td>Pour mettre à jour une ressource</td>
            </tr>
            <tr>
                <th scope="row">DELETE</th>
                <td>Pour supprimer une ressource</td>
            </tr>
        </tbody>
    </table>
</div>